#associations > p {
  text-align: center;
  align-items: center;
}

#associations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
}
#associations p {
  grid-row-start: 2;
  grid-column: span 3;
  align-self: center;
}

#associations > a {
  margin: auto;
  width: 12em;
  height: auto;
}

#associations > a > img {
  width: auto;
  height: 100px;
}

#associations > a#spa > img {
  margin-bottom: -35%;
  height: 170px;
}

#associations > a#croixrouge > img {
  margin-bottom: 15%;
  height: 100px;
}

#associations > a#medecins > img {
  margin-bottom: -25%;
  height: 120px;
}

#associations > a#savethechildren > img {
  margin-top: -8%;
  height: 60px;
}

#associations > a#institutpasteur > img {
  height: 120px;
  margin-top: 5%;
}

#associations > a#preventcancer > img {
  height: 120px;
  margin-top: -15%;
}

[tag-inviewport="scale-in"] {
  transition: 1s;
  transform: scale(0.7);
}

[tag-inviewport="scale-in"].in-viewport {
  transition: 2s;
  transform: scale(1);
}
