#associations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#associations > img {
    width: auto;
}

#associations > #cr {
    height: 170px;
}

#associations > #medecins {
    height: 160px;
}

#associations > #save {
    height: 100px;
}

#associations > #institut {
    height: 150px;
}

#associations > #prevent {
    height: 150px;
}

[tag-inviewport="scale-in"] {
    transition: 2s;
    transform: scale(0.1);
}

[tag-inviewport="scale-in"].in-viewport {
    transition: 2s;
    transform: scale(1);
}