@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

/* Variables */
:root {
  --smooth_black: #111111;
  --smooth_white: #F5F3F4;
  --red: #6D000D;
  --grey: #888888;
  --middle-bar-height1: 0px;
  --middle-bar-height2: 0px;
  --middle-bar-height3: 0px;
  --middle-bar-height4: 0px;
  --side-bar-width: 0px;
}
::selection{
  background-color: var(--red);
}

/* Sans media */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

section {
  color: var(--smooth_white);
  min-height: 120vh;
  scroll-snap-align: start;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.content-margins{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.space-between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.display {
  display: block;
}

.none {
  display: none;
}

/* A Definir en fonction des Besoins */
/* Smartphone */
@media screen and (max-width: 1440px) {
  nav{
    display: none;
  }
}

/* PC
@media screen and (min-width: 601px) {
  /* Variables */
  /* :root {
	} */

/* A UPDATE */
h3{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 25px;
  width: 100%;
  text-transform: uppercase;
}

h3::before {
  content: "";
  position: absolute;
  width: 20%;
  top: 120%;
  background-color: var(--smooth_white);
  height: 1px;
}
.bar-title{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 25px;
  width: 100%;
  text-transform: uppercase;
}
h4{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 25px;
  width: 100%;
  text-transform: uppercase;
}

h4:first-child{
  margin-bottom: 15px;
}

p,text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--smooth_white);
  max-width: 400px;
  line-height: 25px;
}

.caption{
  max-width: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 275;
  color: var(--grey);
  margin-bottom: 20px;
}

body {
  overflow: overlay;
  background-color: var(--smooth_black);
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

div.left{
  align-self: flex-start;
}
div.right{
  align-self: flex-end;
}