/* Variables */
:root {
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap');
html {
	font-family: 'Montserrat', sans-serif;
}

/* Sans media */
* { box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, p {margin: 0;}

/* A Definir en fonction des Besoins */
/* Smartphone */
@media screen and ( max-width: 600px ) {
	/* Variables */
	:root {
	}
}

section {
	height: 100vh;
}

/* PC */
@media screen and ( min-width: 601px ) {
	/* Variables */
	:root {
	}
}


/* A UPDATE */
h1 {	
	font-size: 5em;
	font-weight: 600;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
}
h3 {
	font-size: 1.17em;
	font-weight: 500;
}
h4 {
	font-size: 1em;
	font-weight: 400;
}
h5 {
	font-size: 0.7em;
	font-weight: 400;
}
h6 {
	font-size: 0.4em;
	font-weight: 400;
}
p{
	font-size: 0.83em;
	font-weight: 300;
}
span{
	font-size: 0.83em;
	font-weight: 300;
}
a{
	font-size: 0.83em;
	font-weight: 300;
	text-decoration: none;
}