#introtwitch > div {
  flex-direction: column;
}

#introtwitch > div > h3 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 10%;
}

#introtwitch > div > p {
  height: fit-content;
  text-align: center;
  width: 50%;
  margin:0 auto;
}

#introtwitch > div > #twitch {
  padding-top: 10%;
}
