#introtwitch {
  flex-direction: column;
}

#introtwitch > h3 {
  text-align: center;
  padding-bottom: 5%;
}

#introtwitch > p {
  height: fit-content;
  text-align: center;
  width: 50%;
  margin:0 auto;
}

#introtwitch > #twitch {
  padding-top: 10%;
}
