header{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

nav{
    position: absolute;
    top: 20px;
}

.navbutton{
    height: 20px;
    width: 20px;
    border-top: 1px solid var(--smooth_white);
    transition: 0.5s;
}
.navbutton:hover{
    width: 30px;
}

.active{
    width: 30px;
    border-top: 1px solid var(--red);
}