#section1 {
    display: flex;
    position: relative;
}

#section1 > #speed{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
}

#section1 > #speed span:nth-child(1) {
    position: relative;
    animation: speedleft 0.8s cubic-bezier(.6,.01,.48,.15) forwards;
    margin-right: -4px;
}
#section1 > #speed span:nth-child(2) {
    position: relative;
    animation: speedright 0.8s cubic-bezier(.6,.01,.48,.15) forwards;
    margin-left: -4px;
}

@keyframes speedleft {
    0% {
        left: -50%;
    }
    99% {
        left:0;
    }
    100%{
        left: unset;
    }
}
@keyframes speedright {
    0% {
        left: 50%;
    }
    99%{
        left: 0;
    }
    100%{
        left: unset;
    }
}