.flexalt {
  display: flex;
  align-items: center;
}

#solostreams {
  flex-direction: column;
}

#solostreams > div {
  justify-content: space-between;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#solostreams > div > div {
  flex-direction: column;
  width: 30%;
}


#solostreams > h3 {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 10%;
}

#solostreams > p {
  text-align: center;
  width: 50%;
  padding-top: 2%;
}

#solostreams > #twitch {
  padding-top: 10%;
}

#solostreams > div > div > figcaption {
  text-align: center;
  font-size: 1.7em;
  padding-bottom: 20px;
}

#solostreams > div > div > img {
  object-fit: cover;
  height: 25vh;
} 

#solostreams > div > div > p {
  font-size: 1.7em;
  text-align: center;
} 


/* #solostreams > div > h3 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

#solostreams {
  padding: 0;
}
#solostreams figure {
  margin: auto;
  grid-row: span 2;
}
#solostreams :nth-child(3) {
  grid-column-start: 3;
}
#solostreams :nth-child(4) {
  grid-column-start: 2;
}
#solostreams :nth-child(5) {
  grid-column-start: 1;
}
#solostreams :nth-child(6) {
  grid-column-start: 3;
}

#boxstreams {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#solostreams > p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

#m2k {
  height: 40vh !important;
}

#solostreams > div > figure > img {
  object-fit: cover;
  height: 25vh;
} */