/* #solostreams {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */
#solostreams {
    padding: 0;
}
#solostreams figure {
    margin:auto;
    grid-row: span 2 ;
}
#solostreams :nth-child(3){
    grid-column-start: 3;
}
#solostreams :nth-child(4){
    grid-column-start: 2;
}
#solostreams :nth-child(5){
    grid-column-start: 1;
}
#solostreams :nth-child(6){
    grid-column-start: 3;
}
#boxstreams {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
#solostreams > p {
    width: 100%;
    /* margin-bottom: 0px; */
    padding-top: 0em;
    margin-top: -2%;
}
#solostreams span{
    text-align: center;
    padding-top: 5%;
    font-size: 4em;
}