#stat_gdq {
  padding-top: 10%;
  display: flex;
  flex-direction: row-reverse;
}

#stat_gdq .bouton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stat_gdq button {
  background-color: #42B8EA; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#stat_gdq button:hover {
  background-color: #4CAF50;
  color: white;
}


#stat_gdq > svg {
    width: 80%;
    height: 100%;
}
  
#stat_gdq .bar {
    fill: #42B8EA;
  }
  
#stat_gdq text {
    font-size: 20px;
    fill: #fff;
  }
  
#stat_gdq path {
    stroke: #fff;
  }
  
#stat_gdq .grid path {
    stroke-width: 0;
  }
  
#stat_gdq  .grid .tick line {
    stroke: #fff;
    stroke-opacity: 0.3;
}