h3.graph-title{
  margin-top: 150px;
  text-align: center;
}

#stat_gdq h4 {
  margin-bottom: 0;
}

#stat_gdq {
  width: 100%;
  height: 70vh;
  padding-top: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

#stat_gdq .bouton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stat_gdq .button-on {
  all: unset;
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 14px 20px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#stat_gdq .button-on:hover {
  background-color: black;
  color: white;
}

#stat_gdq .button-off {
  all: unset;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 14px 20px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#stat_gdq .button-off:hover {
  background-color: white;
  color: black;
}

#stat_gdq > svg {
  width: 62%;
  height: 100%;
}

#stat_gdq text {
  font-size: 20px;
  fill: #fff;
}

#stat_gdq path {
  stroke: #fff;
}

#stat_gdq .grid path {
  stroke-width: 0;
}

#stat_gdq .grid .tick line {
  stroke: #fff;
  stroke-opacity: 0.3;
}
