#introevents > .content-margins{
    height: 80vh;
    justify-content: center;
}

#growth-of-events img{
    max-width: 200px;
}

#growth-of-events .imgpadding {
    padding-top: 60px;
}

#livetime {
    width: 150px !important;
}

#growth-of-events .top{
    height: 250px;
    border-top: 1px solid var(--smooth_white);
    padding-top: 5%;
    margin-top: 5%;
}

#growth-of-events .bottom{
    height: 250px;
    border-bottom: 1px solid var(--smooth_white);
    padding-bottom: 5%;
    margin-bottom: 5%;
}

#growth-of-events .space-between span{
    position: relative;
}

#growth-of-events .space-between.bottom span::before{
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateY(100%);
    height: 40%;
    width: 1px;
    background-color: var(--smooth_white);
}

#growth-of-events .space-between.top span::before{
    content: '';
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateY(-100%);
    height: 40%;
    width: 1px;
    background-color: var(--smooth_white);
}

#growth-of-events .space-between span:nth-child(2)::before{
    height: 60%;
}

#growth-of-events .space-between.top span:nth-child(2)::after{
    content: "";
    position: absolute;
    right: 50%;
    bottom: 160%;
    transform: translateX(50%);
    height: 1px;
    width: 90px;
    background-color: var(--smooth_white);
}
#growth-of-events .space-between.bottom span:nth-child(2)::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 160%;
    transform: translateX(50%);
    height: 1px;
    width: 90px;
    background-color: var(--smooth_white);
}

=======
#stat-gdq{
    width: 100%;
}
@media screen and (max-width: 950px) {
    #growth-of-events .bottom, #growth-of-events .top{
        height: inherit;
        width: 50%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    #growth-of-events .space-between.bottom span::before,#growth-of-events .space-between.top span::before{
        height: 0;
        width: 0;
    }
}
