h3.graph-title{
  margin-top: 150px;
  text-align: center;
}

#growth-of-donations > h3 {
  max-width: 1440px;
  margin: 0 auto;
}

#stat_gdq h4, #stat_z-event h4 {
  margin-bottom: 0;
}

#stat_gdq, #stat_z-event {
  width: 100%;
  height: 46vh;
  padding-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.bouton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-on {
  all: unset;
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 14px 20px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-on:hover {
  background-color: black;
  color: white;
}

.button-off {
  all: unset;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 14px 20px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-off:hover {
  background-color: white;
  color: black;
}

#stat_gdq > svg, #stat_z-event svg {
  width: 60%;
  height: auto;
}

#stat_gdq text, #stat_z-event text {
  font-size: 20px;
  fill: #fff;
}

.legende {
  font-size: 15px;
  fill: #fff;
}

#stat_gdq path, #stat_z-event path {
  stroke: #fff;
}

#stat_gdq .grid path, #stat_z-event .grid path {
  stroke-width: 0;
}

#stat_gdq .grid .tick line, #stat_z-event .grid .tick line {
  stroke: #fff;
  stroke-opacity: 0.3;
}

#margin-top {
  margin-top: 5%;
}

.space {
  margin: 5%;
}