#twitch-young-audience > h3 {
  max-width: 1440px;
  margin: 0 auto;
}

#sondage{
  width: 78%;
  height: 50vh;
}

#twitch-young-audience > h3 {
  padding-top: 3%;
  margin-bottom: 5%;
}

#age_pie .legend {
  font-size: 14px;
}

#age_pie rect {
  stroke-width: 2;
}

#age_pie .tooltip {
  background: white;
  color: black;
  box-shadow: 0 0 5px black;
  display: none;
  font-size: 18px;
  position: absolute;
  /* text-align: center; */
  padding: 3px;
  width: 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

#age_pie text{
  fill: white;
}

.pie-title {
  text-align: center;
}

.flextwitch{
  display: flex;
  margin-top: 50px;
}

.flextwitch p{
  margin-left: 14%;
  margin-top: 50px;
}

#age-graph{
  padding-top:60px;
}

#questionsondage {
  max-width: 1440px;
  margin: 0 auto;
}

#questionsondage > h4 {
  margin-bottom: 25px;
}

#sondage1 {
  width: 100%;
  height: 10vh;
}

#sondage1 .button_gdq:hover {
  background-color: white;
  color: black;
}

#sondage1 > svg {
  width: 62%;
  height: auto;
}

#sondage1 text {
  font-size: 20px;
  fill: #fff;
}

#sondage2 {
  width: 100%;
  height: 10vh;
}

#sondage2 .button_gdq:hover {
  background-color: white;
  color: black;
}

#sondage2 > svg {
  width: 62%;
  height: auto;
}

#sondage2 text {
  font-size: 20px;
  fill: #fff;
}

#sondage3 {
    width: 100%;
    height: 10vh;
  }
  
#sondage3 .button_gdq:hover {
    background-color: white;
    color: black;
  }
  
#sondage3 > svg {
    width: 62%;
    height: auto;
  }
  
#sondage3 text {
    font-size: 20px;
    fill: #fff;
}