#disclaimer {
    bottom: -32vh;
}

#disclaimer p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: inherit;
    font-size: 18px;
    font-weight: 275;
    color: var(--grey);
}


#spa > img {
    padding-top: 40px;
}

#savethechildren > img {
    padding-top: 60px;
}

#disclaimer a{
    text-decoration: underline;
    color: var(--smooth_white);
}