p.linked {
  position: relative;
}
.margin-bottom{
    margin-bottom: 100px;
}
@media (min-width: 950px) {
  div.left p.linked::after {
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
    width: 1px;
    background-color: var(--smooth_white);
  }
  div.left p.linked::before {
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: var(--side-bar-width);
    background-color: var(--smooth_white);
  }

  div.right p.linked::after {
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
    width: 1px;
    background-color: var(--smooth_white);
  }

  div.right p.linked::before {
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: var(--side-bar-width);
    background-color: var(--smooth_white);
  }

  .barre::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 1px;
    background-color: white;
  }

  #speedrun .barre::after {
    height: var(--middle-bar-height1);
  }
  /* #introspeedrun .barre::after {
    height: var(--middle-bar-height2);
  } */
  #growth-of-events .barre::after {
    height: var(--middle-bar-height3);
  }
  #streaming-costs .barre::after {
    height: var(--middle-bar-height4);
  }
}
@media screen and (max-width: 950px) {
  p.linked {
    margin-bottom: 50px;
  }
  .barre {
    display: none;
  }
  div ::after {
    display: none;
  }
  div p.linked::before {
    content: "";
    position: absolute;
    top:     110%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: var(--smooth_white);
  }
}
