p.linked {
  position: relative;
}
p.not-linked {
  position: relative;
}
.margin-bottom{
    margin-bottom: 100px;
}
@media (min-width: 950px) {
  div.left p.linked::after,div.left p.not-linked::after{
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
    width: 1px;
    background-color: var(--smooth_white);
  }
  div.left p.linked::before{
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: var(--side-bar-width);
    background-color: var(--smooth_white);
  }

  div.right p.linked::after,div.right p.not-linked::after{
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
    width: 1px;
    background-color: var(--smooth_white);
  }

  div.right p.linked::before{
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: var(--side-bar-width);
    background-color: var(--smooth_white);
  }

  .barre::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 1px;
    background-color: white;
  }

  #speedrun .barre::after {
    height: var(--middle-bar-height1);
  }
  /* #introspeedrun .barre::after {
    height: var(--middle-bar-height2);
  } */

  #growth-of-events .barre::after {
    height: var(--middle-bar-height3);
  }
  #streaming-costs .barre::after {
    height: var(--middle-bar-height4);
  }
  div.animation-to-right{
    width: calc(100% - 882px - 20px);
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 451px;
    transition: 1s;
    background-color: var(--smooth_black);
    animation: text_to_right 3s ease forwards;
  }
  div.animation-to-left{
    width: calc(100% - 883px - 20px);
    bottom: 0;
    height: 100%;
    position: absolute;
    left: 452px;
    transition: 1s;
    background-color: var(--smooth_black);
    animation: text_to_left 3s ease forwards 4s;
  }
  div.inactive{
    animation: none;
  }
}

@keyframes text_to_right {
  0%{
    width: calc(100% - 882px - 20px);
    height: 100%;
  }33%{
    width: calc((100% - 882px - 20px)/2);
    height: 100%;
  }66%{
    width: calc((100% - 882px - 20px)/2);
    height: 30%;
  }100%{
    width: 0;
    height: 30%;
  }
}

@keyframes text_to_left {
  0%{
    width: calc(100% - 883px - 20px);
    height: 100%;
  }33%{
    width: calc((100% - 883px - 20px)/2);
    height: 100%;
  }66%{
    width: calc((100% - 883px - 20px)/2);
    height: 30%;
  }100%{
    width: 0;
    height: 30%;
  }
}
@media screen and (max-width: 950px) {
  p.linked {
    margin-bottom: 50px;
  }
  .barre {
    display: none;
  }
  div ::after {
    display: none;
  }
  div p.linked::before {
    content: "";
    position: absolute;
    top:     110%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: var(--smooth_white);
  }
  div.right{
    align-self: flex-start;
  }
}
